.game-features-container{
    margin-top: 4rem;
}


.header-text{
    /* font-family: Montage, sans-serif; */
    font-family: var(--main-heading-font);
}

.game-features-heading{
    color: #fff;
    width: 70%;
    letter-spacing: 0.03rem;
    font-size: 31px;
    margin: auto;
}

.map-header{
    color: var(--primary-color);
    font-size: 4.3331em;
}


.map-container{
    /* height: 500px; */
    /* background-color: red; */
    width: 100%;
    position: relative;
}

.map-container .vect-top img{
    
    height: 2.5rem;
    width: 100vw;
    position: absolute;
    bottom: 0;
  
    
}

.map-container .map-img .vect-top{
    position: absolute;
    top: 10px;
    transform: scaleY(-1);
    height: 1.5rem;
}

.map-img{
    width: 100%;
    position: relative;
}

.map-img img{
    object-fit: cover;
    width: 100%;
    height: 39.625rem;
}

.map-name{
    height: auto;
    width: 21.6663rem;
    background-color: white;
    position: absolute;
    left: 6rem;
    top: 10rem;
    z-index: 1;
}

.map-name::before{
    content: url("./../../assets/map-layer-bottom.svg");
    position: absolute;
    top: -10px;
}

.map-name::after{
    content: url("./../../assets/map-layer-bottom.svg");
    position: absolute;
    bottom: -16px;
}

/* .map-name{
    position: absolute;
    top: 10rem;
    left: 4rem;
    height: 15.6663rem;
    width: 24.6663rem;
    background-image: url('../../assets/map-name.svg');
    background-size: cover;
} */

.map-name h3{
    font-family: var(--main-heading-font);
    color: black;
}

.map-name p{
    font-family: var(--secondary-font-regular);
    color: black;
}

.vect-bottom-game{
    position: absolute;
    height: 1.5rem;
    bottom: 15px;
    /* transform: scaleY(-1) */

}

.vect-bottom-game img{
    width: 100vw;
}
.map-item-container{
    width: 70%;
    margin: auto;
    position: absolute;
    top: -4.6875rem;
    left: 0;
    right: 0;
}

.map-items{
    position: relative;
}

.map-item-img{
    /* width: 272px; */
    height: 10.3313rem;
    padding: 0 !important;
    
}

.map-item-img:hover{
    cursor: pointer;
}

.map-item-title {
    font-family: var(--main-heading-font);
    color: white;
    font-size: 2.000rem;
}

.map-item-name{
    color: #B6B6B7;
    font-family: var(--secondary-font-regular);
    letter-spacing: 0.1rem;
    margin-top: -1rem !important;
}

.vect-top-game-features{
    position: absolute;
    top: 0;
}


.vect-bottom-game-features{
    position: absolute;
    bottom: 0;

}

.vect-bottom-game-features img{
    width: 100vw;
    height: 2.5rem;
}


.selected-map{
    border: 3px solid white;
}

.map-item-sm{
    display: none;
}

.map-items-for-sm{
    display: none;
}

.map-item-img{
    border-radius:5px ;
}



@media (max-width: 768px){

    .map-header{
        font-size: 2.333rem;
    }

    /* .vect-top{
        top: 16px !important;
    } */

    .vect-bottom-game{
        bottom: -7px !important;
    }
    
    .map-item-name{
        font-size: 0.8rem;
    }

    .map-item-title{
        font-size: 1.2rem;
    }

    .map-item-name{
        font-size: 0.5rem;
        font-family: var(--secondary-font-normal);
        white-space: nowrap;
    }

    .map-item-container{
        top: -2.5rem;
    }

    .map-name-container{
        display: none;
    }

    .vect-bottom-game-features{
        bottom: 0 !important;
    }

    .vect-bottom-game-features img{
        height: 2.5rem;
    }

        .map-item-lg{
            display: none;
        }

        .map-item-sm{
            display: block;
        }
    

        .map-item-img-sm{
            width: 80%;
            border-radius: 5px;
        }

        .map-item-sm-container{
            width: 50%;
            position: relative;
        }

        .map-item-sm{
            position: absolute;
            bottom: 60px;
        }
        
        .map-items-for-sm{
            display: block;
        }

        .game-features-heading{
            width: 100%;
        }
    

}