.game-modes-container{
    margin-top: 15rem;
    background-image: url('../../../assets/Layer_1.svg');

}

.game-modes-text-container{
    max-width: 66.665rem;
    margin: auto;
}

.game-modes-carousel-sm{
    display: none;
}

.game-modes-card-container{
    position: relative;
}

.game-modes-heading{
    font-family: var(--main-heading-font);
    font-size: 3rem;
    color: var(--primary-color);
}

.game-modes-container .game-modes-subtitle{
    margin: auto;
    width: 70%;
    font-family: var(--secondary-font-medium);
    color: #E7E8E8;
    font-size: 16px;
    line-height: 28.8px;
    letter-spacing: 0.1rem;
}

.game-modes-description{
    color: #E7E8E8;
    font-family: var(--secondary-font-normal);
}

.game-modes-card{
    background-color: #141518;
    border: 0.1rem solid var(--primary-color);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    height: 340px;
    width: 100%;
    /* height: 295px ;
    width: 245px; */
    padding: 0px 5px;
    margin: 0;
}



.game-modes-title{
    font-family: var(--main-heading-font);
    font-size: 1.7rem;
}

.game-modes-description{
    font-size: 0.9rem;
}


.game-modes-splash{
    position: absolute;
    top: -146px;
    right: -128px;
    z-index: -1;
}

.game-modes-bottom-line{
    position: absolute;
    bottom: -29px;
    left: -17px;
    z-index: -1;    
}

.game-modes-seperator{
    width: 100vw;
}



.game-modes-card-lg .col{
    padding:3px;
}

.game-modes-card-btn-container{
    position: relative;
}


.game-modes-card-btn-container::before{
    content: url('../../../assets/btn-line.svg');
    position: absolute;
    width: 97px;
    top: -14px;
    left: -6px;
   

}

.game-modes-card-btn-container::after{
    content: url('../../../assets/btn-line.svg');
    position: absolute;
    width: 97px;
    bottom: -10px;
    left: -6px;


}



.game-modes-card-cta{
    background-color: var(--primary-color);
    padding: 3px 8px;
    font-family: var(--main-heading-font);
    color: black;
    font-size: 20px;
   
}
.game-modes-card-cta:hover{
    color: black;

}

.game-modes-card-btn-container{
    transition: transform 0.1s ease;
}
.game-modes-card-btn-container:hover{
    transform: translate(1.5px, 1.5px);
    cursor: pointer;
}

.game-modes-download-icon{
    margin-top: -10px;
    margin-left: 5px;
}


.tdm-mt{
    margin-top: .5rem;
}


@media (max-width: 1200px){
    .game-modes-card{
    height: 350px;

    }
}
@media (max-width: 768px){
    .game-modes-card{
        height: 320px;
        padding: 2px 5px;
        width: 90%;
        margin: auto;
        }

    .game-modes-container{
        margin-top: 1rem;
    }

    /* .game-modes-card-lg{
        display: none;
    } */

    .game-modes-carousel-sm{
        display: block;
    }

    .game-modes-card-carousel{
        margin: 0 20px;
        
    }

    .game-modes-splash{
        display: none;
    }

    .game-modes-heading{
        font-size: 2.5rem;
    }


    .mt-mb{
        margin-top: -5px !important;
    }

    .game-modes-card-btn-container::before{
        width: 96px;
        top: -13px;
        left: -6px;
    }

    .game-modes-card-btn-container::after{
        width: 96px;
        bottom: -8px;
        left: -6px;
    }

  
}