.charactersandweapons-container{
    position: relative;
    margin-top: 10%;
}

/* .character-card-container{
    width: 50%;
    margin: auto;
} */

.card {
    background-color: black !important;
    border: 2px solid #3c3d3f !important;
    color: white !important;
    padding: 0.3rem !important;
}

.card-title{
    font-family: var(--main-heading-font);
    color: var(--primary-color) !important;
    font-size: 2rem;
}

.cart-subtitle{
    font-family: var(--secondary-font-semi-bold);
}

.card-text{
    font-family: var(--secondary-font-normal);
}

.character-inner-container{
    position: relative;
}

.bg-vect{
    position: absolute;
    left: -45px;
    top: 25%;
    z-index: -1;
}

.character-splash-icon-right{
    position: absolute;
    top: 275px;
    right: -50px;
    z-index: -1;
}

.character-splash-icon-left{
    position: absolute;
    bottom: -139px;
    left: -104px;
    z-index: -1;
}



.nav-link{
    text-decoration: none !important;
    color: #929394 !important;
    font-family: var(--main-heading-font);
    font-size: 1.5rem !important;
}

  .character-inner-container .nav-tabs .nav-item .nav-link{
    border-bottom: 1px solid rgb(40, 40, 40);
    padding: 3px;
  }

 .character-inner-container .nav-tabs .nav-item .nav-link.active {
    background-color: transparent; /* Remove the background color of the active tab */
    border: 1px solid rgb(40, 40, 40); /* Add a border at the top of the active tab */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 0;
    color: white !important; /* Set font color to white */
  }

  .character-inner-container .nav-tabs .nav-item .nav-link{
    width: 50%;
  }

  .character-inner-container .nav-justified .nav-item:first-child {
    display: flex;
    justify-content: flex-end;}

.character-inner-container .nav-justified .nav-item:nth-child(2) {
    display: flex;
    justify-content: flex-start;
}

.character-inner-container .nav-justified{
  border-bottom: 0;
}


  /* .nav-tabs {
    border-bottom: 3px solid rgb(40, 40, 40) !important;
  } */

  /* #justify-tab-example-tab-characters{
    border-bottom: none !important;
  } */

  .char-img-contianer{
    position: relative;
  }

  .img-line-container-weapon{
    position: absolute;
    bottom: -7px;
  }

  .img-line-container-weapon img{
    width: 100%;
  }

  .img-line-container{
    position: absolute;
    bottom: -8px;
  }

  .img-line-container img{
    width: 100%;
  }

  .c-and-w-body{
    /* padding: 0 !important */
    padding: 10px 0 0 10px !important;

  }

  .weapon-description{
    font-family: var(--secondary-font-normal-light);
  }

  .carousel-container{
    width: 100%;
  }

  .char-sm{
    display: none;
  }

  .weapon-sm{
    display: none;
  }
  

  /* .swiper-custom{
    margin-right: -200px !important;
  } */

@media (max-width: 768px){


    .character-splash-icon-right{
        display: none;
    }

    .character-card-lg{
        display: none;
    }

    .char-sm{
        display: block;
    }

    .weapon-sm{
        display: block;
    }

    .bg-vect{
        display: none;
    }

    .character-splash-icon-left {
        z-index: -1;
        bottom: -18px;
    left: -101px;
    }

    .character-card-container{
        width: 80% !important;
        margin: auto;
    }

    .character-card-lg{
        display: none;
    }

    .weapon-container-lg{
        display: none;
    }

    .character-inner-container .nav-tabs .nav-item .nav-link{
      width: 100%;
    }


}