@font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('https://storage.googleapis.com/strayshotwebassets/newstrayshot/Fonts/clash-display/ClashDisplay-Variable.woff2') format('woff2');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('https://storage.googleapis.com/strayshotwebassets/newstrayshot/Fonts/clash-display/ClashDisplay-Extralight.woff2') format('woff2');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Light';
    src: url('https://storage.googleapis.com/strayshotwebassets/newstrayshot/Fonts/clash-display/ClashDisplay-Light.woff2') format('woff2');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Regular';
    src: url('https://storage.googleapis.com/strayshotwebassets/newstrayshot/Fonts/clash-display/ClashDisplay-Regular.woff2') format('woff2');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('https://storage.googleapis.com/strayshotwebassets/newstrayshot/Fonts/clash-display/ClashDisplay-Medium.woff2') format('woff2');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('https://storage.googleapis.com/strayshotwebassets/newstrayshot/Fonts/clash-display/ClashDisplay-Semibold.woff2') format('woff2');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('https://storage.googleapis.com/strayshotwebassets/newstrayshot/Fonts/clash-display/ClashDisplay-Bold.woff2') format('woff2');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  

  /* ./assets/fonts/clash-display/WEB/fonts/ClashDisplay-Regular.woff2 */