.join-clain-container{
    position: relative;
    margin-top: 150px;
}

.clan-name{
    font-family: var(--secondary-font-medium);
    color: var(--primary-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

.clan-description{
    font-family: var(--secondary-font-normal);
    font-size: 0.9rem;
    color: #E7E8E8;
}

.clan-text-container{
    width: 75%;
    margin-bottom: 40px;
}


.clan-text-content{
    margin-top: 40px;
    text-align: left ;
}
.join-clain-card-container{
    /* margin-top: 8%; */
}

.skull-img-left{
    position: absolute;
    top: 15%;
    z-index: -1;
}



.skull-img-right{
    position: absolute;
    top: 15%;
    z-index: -1;
    right: 0;
    transform: scaleX(-1);
}

.join-clan-cta{
    width: 75%;
    margin-top: 10px;
}
.join-clan-header-img img{
    width: 50%;
}

.clan-container{
    border: 1px solid #FFB503;
    border-radius: 10px;
    padding: 20px;
    height: 380px;
    margin-top: 20px;
}

.game-modes-subtitle{
    font-family: var(--secondary-font-medium);
    font-size: 16px;
    letter-spacing: 1.28px;

}

@media (max-width: 768px){
    .join-clan-header-img img{
        min-width:650px!important;
        /* height: auto; */
    }

    .join-clain-container{
        margin-top: 100px;
    }

    .clan-text-container{
        margin-bottom: 5px;
    }

    .clan-container{
        border:0;
        height: auto;
    }

    .skull-img-left{
        display: none;
    }

    .skull-img-right{
        display: none;
    }

    .game-modes-subtitle{
        display: none;
    }

    .join-clan-button{
        width: 96%;
    }

    .clan-text-content{
        margin-top: 10px;
        text-align: center !important;
    }

    .join-clan-description{
        font-size: 0.9rem;
    }
}

/* 1.3331 */

