.home {
  height: 80vh;
  width: 100%;
  position: relative;
}

#background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  
}

.home-text{
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    color: white;
    padding-bottom: 85px;

}


.overlay-text-main {
  font-family: Montage;
  font-size: 4rem;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 51px;
  font-size: 50px;
}

.overlay-text-main .banner-color-change {
  color: var(--primary-color);
}




.overlay-text{
    /* font-family: 'ClashDisplay-Light', sans-serif; */
    font-family: var(--secondary-font-normal);
    font-weight: 600;
    letter-spacing: 2.5px;
    font-size: 14px;
}

.home .vect-bottom{
    position: absolute;
    width: 96rem;
    z-index: 100;
    bottom: 0px;
}

.home .vect-bottom{
  width: 100vw;
}

.home .vect-top{
  position: absolute;
  top: 65px;
  width: 100vw;
  transform: scaleY(-1);
}


@media (max-width: 768px) { /* Adjust the max-width as needed */
  .overlay-text-main{
    font-size: 33px;
  line-height: 38.02px;
}

.home {
  height: 80vh;
}

.home-text{
    padding-bottom: 35px;
}

.mobile-home-banner-text{
 display: block;
}

  .home .vect-bottom{
    bottom: -12px;
    height: 2rem;
  }

.home .vect-top{
  top: 65px !important;
  height: 2rem;
}
}